# Folders

.vscode
.github
.webpack
src
node_modules
coverage

# Files

.all-contributorsrc
.xo-config.json
.huskyrc
.lintstagedrc
.prettierrc
codecov.yml
.gitignore
.gitmodules
tsconfig.json
assets/ui/.git
assets/ui/index.html
*.map
*.log