# Folders

.vscode
.github
.webpack
src
node_modules
coverage
__mocks__

# Files

.all-contributorsrc
.gitignore
.gitmodules
tsconfig.json
tslint.json
assets/ui/.git
assets/ui/index.html
translocalizer.json
*.map
*.log