.vscode/**
.vscode-test/**
dist/test/**
src/**
.gitignore
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
node_modules
.webpack
scripts
LICENSE.txt
CHANGELOG.md
*.log
assets/settings.schema.json
assets/release-notes.json